.container {
    /*display: flex; /* Utiliser flexbox */
    align-items: left; /* Aligner les éléments verticalement */
}
.card {
    background-color: rgba(255, 255, 255, 0.6); /* Set background color to beige */
}
body {
    background-color: rgb(251, 239, 191);
    
}



/* Applique l'italique à tous les éléments de texte */
body, h1, h2, h3, h4, h5, h6, p, a, ul, li, span, div {
    font-style: italic;
    font-size: 100%;
    
}
h1 {

   
    font: weight 500px;
    
    
    font-weight: bold; 
    
}
p {
    font-family: Arial, sans-serif; /* Changer la police selon vos préférences */
    
    font-style: normal;
    font: weight 500px;
    
}
