/* Ensure you link this stylesheet in your HTML */

.cartes-container {
    margin-bottom: 50px; /* Adjust the value as needed */
}

.card {
    margin-bottom: 20px;
}



footer {
    margin-top: 50px; /* Additional margin if needed */
}
header {
    height: 120px; /* Exemple de hauteur de barre de navigation */
}
